# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Supabase
.branches
.temp

# Env files
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Misc
.DS_Store
*.pem
